<a href="https://colab.research.google.com/github/letpires/trends_twitter_pytrends/blob/main/twittter_api_trends.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pytrends

Requirement already satisfied: pytrends in /usr/local/lib/python3.7/dist-packages (4.7.3)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.7/dist-packages (from pytrends) (1.1.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pytrends) (4.2.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pytrends) (2.23.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (2018.9)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pytrends) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pytrends) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pytrends) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pytrends) (3.0.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25->pytrends) (1.15.0)

In [ ]:
import pandas as pd
from pytrends.request import TrendReq
pytrends = TrendReq(hl='pt-BR', tz=360)

#Para limpeza de texto
import unicodedata
import re

In [ ]:
path = 'https://raw.githubusercontent.com/letpires/trends_twitter_pytrends/main/trends_twitter.csv%20-%20P%C3%A1gina1.csv'
trends = pd.read_csv(path,encoding="ISO-8859-1", decimal=",", na_values="-", engine="python")
trends.head()

                    trend location
0              Obrigadaaa   Brazil
1              Harry Kane   Brazil
2                  Rublev   Brazil
3             "Legendary"   Brazil
4  CARLA DIAZ NA LIVE I&R   Brazil

In [ ]:
"""
A remoção de acentos foi baseada em uma resposta no Stack Overflow.
http://stackoverflow.com/a/517974/3464573
"""

def removerAcentosECaracteresEspeciais(palavra):

    # Unicode normalize transforma um caracter em seu equivalente em latin.
    nfkd = unicodedata.normalize('NFKD', palavra)
    palavraSemAcento = u"".join([c for c in nfkd if not unicodedata.combining(c)])

    # Usa expressão regular para retornar a palavra apenas com números, letras e espaço
    return re.sub('[^a-zA-Z \\\]', '', palavraSemAcento)

In [ ]:
#Verificando como ficou o content após a normalização.
trends['trend'] = trends.apply(lambda row: removerAcentosECaracteresEspeciais(row['trend']), axis=1)
trends.head()

                   trend location
0             Obrigadaaa   Brazil
1             Harry Kane   Brazil
2                 Rublev   Brazil
3              Legendary   Brazil
4  CARLA DIAZ NA LIVE IR   Brazil

In [ ]:
# converting to list
df_list = trends["trend"].tolist()
df_list

['Obrigadaaa',
 'Harry Kane',
 'Rublev',
 'Legendary',
 'CARLA DIAZ NA LIVE IR',
 'Pacto',
 'WE LOVE YOU KATY',
 'MOAs ARE PROUD OF TXT',
 'TheFalconAndTheWinterSoldier',
 'TetAa',
 'ParabAnssss',
 'Dylan',
 'Meredith',
 'Polly',
 'winwin',
 'UFMG',
 'Sextou',
 'Renan Calheiros',
 'Narcisa Malfoy',
 'BBB NAO A CARIDADE',
 'Helen McCrory',
 'Celine',
 'Nadal',
 'julia minegirl',
 'sam wilson',
 'TaisonDay',
 'Bucky',
 'Federal',
 'HarryPotter',
 'FalcAo',
 'Paulo CAmara',
 'UFJF',
 'CAPES',
 'Penny Dreadful',
 'Simaria',
 'NATTI NATASHA',
 'Bruno Covas',
 'UFRJ',
 'Nesk',
 'CINCO MILHOES DA MIIH',
 'Kiraz',
 'SIGA LOUD LZINN NO IG',
 'Nilmar',
 'Danrley',
 'PremierLeagueNaESPN',
 'Obrigadooo',
 'explicaeday',
 'Peralta',
 'Parabeeeens',
 'XamA']

In [ ]:
def related_topics_top(trend):
     
        pytrends.build_payload(kw_list=[trend], timeframe='now 1-d', geo='BR', gprop='')
        related = pytrends.related_topics()
        try:
            top = pd.DataFrame.from_dict(related[trend]['top'])
            
            return top
        except Exception as e:
            top = None
            raise e

In [ ]:
#Aplicando a função related_topics_top para cada item da lista
df_final = pd.DataFrame()

for item in df_list:
    print('----ITEM:', item)
    related = related_topics_top(item)

    #Inserindo o 'trend' nos dataframes
    related.insert(0, 'trend', item, allow_duplicates=True)
    df_final = df_final.append(related.head()).reset_index(drop=True)

print('--- DF Final ---')
df_final

----ITEM: Obrigadaaa
----ITEM: Harry Kane
----ITEM: Rublev
----ITEM: Legendary
----ITEM: CARLA DIAZ NA LIVE IR
----ITEM: Pacto
----ITEM: WE LOVE YOU KATY
----ITEM: MOAs ARE PROUD OF TXT
----ITEM: TheFalconAndTheWinterSoldier
----ITEM: TetAa
----ITEM: ParabAnssss
----ITEM: Dylan
----ITEM: Meredith
----ITEM: Polly
----ITEM: winwin
----ITEM: UFMG
----ITEM: Sextou
----ITEM: Renan Calheiros
----ITEM: Narcisa Malfoy
----ITEM: BBB NAO A CARIDADE
----ITEM: Helen McCrory
----ITEM: Celine
----ITEM: Nadal
----ITEM: julia minegirl
----ITEM: sam wilson
----ITEM: TaisonDay
----ITEM: Bucky
----ITEM: Federal
----ITEM: HarryPotter
----ITEM: FalcAo
----ITEM: Paulo CAmara
----ITEM: UFJF
----ITEM: CAPES
----ITEM: Penny Dreadful
----ITEM: Simaria
----ITEM: NATTI NATASHA
----ITEM: Bruno Covas
----ITEM: UFRJ
----ITEM: Nesk
----ITEM: CINCO MILHOES DA MIIH
----ITEM: Kiraz
----ITEM: SIGA LOUD LZINN NO IG
----ITEM: Nilmar
----ITEM: Danrley
----ITEM: PremierLeagueNaESPN
----ITEM: Obrigadooo
----ITEM: explicaeday
----ITEM: Peralta
----ITEM: Parabeeeens
----ITEM: XamA
--- DF Final ---

          trend  ...                    topic_type
0    Harry Kane  ...                   Futebolista
1    Harry Kane  ...               Liga de futebol
2    Harry Kane  ...              Clube de futebol
3    Harry Kane  ...  Temporada da liga de futebol
4    Harry Kane  ...  Temporada da liga de futebol
..          ...  ...                           ...
165        XamA  ...                        Músico
166        XamA  ...  Papel da liderança religiosa
167        XamA  ...                        Música
168        XamA  ...                       Assunto
169        XamA  ...                        Animal

[170 rows x 8 columns]

In [ ]:
def related_topics_rising(trend):
        #print(trend)
        pytrends.build_payload(kw_list=[trend], timeframe='now 1-d', geo='BR', gprop='')
        related_rising = pytrends.related_topics()
        try:
            rising = pd.DataFrame.from_dict(related_rising[trend]['rising'])
            return rising
        except Exception as e:
            rising = None
            raise e

In [ ]:
#Aplicando a função related_topics_rising para cada item da lista
df_final_rising = pd.DataFrame()

for item in df_list:
    print('----ITEM:', item)
    related2 = related_topics_rising(item)
    #Inserindo o 'trend' nos dataframes
    related2.insert(0, 'trend', item, allow_duplicates=True)
    df_final_rising = df_final_rising.append(related2.head()).reset_index(drop=True)

print('--- DF Final ---')
df_final_rising

----ITEM: Obrigadaaa
----ITEM: Harry Kane
----ITEM: Rublev
----ITEM: Legendary
----ITEM: CARLA DIAZ NA LIVE IR
----ITEM: Pacto
----ITEM: WE LOVE YOU KATY
----ITEM: MOAs ARE PROUD OF TXT
----ITEM: TheFalconAndTheWinterSoldier
----ITEM: TetAa
----ITEM: ParabAnssss
----ITEM: Dylan
----ITEM: Meredith
----ITEM: Polly
----ITEM: winwin
----ITEM: UFMG
----ITEM: Sextou
----ITEM: Renan Calheiros
----ITEM: Narcisa Malfoy
----ITEM: BBB NAO A CARIDADE
----ITEM: Helen McCrory
----ITEM: Celine
----ITEM: Nadal
----ITEM: julia minegirl
----ITEM: sam wilson
----ITEM: TaisonDay
----ITEM: Bucky
----ITEM: Federal
----ITEM: HarryPotter
----ITEM: FalcAo
----ITEM: Paulo CAmara
----ITEM: UFJF
----ITEM: CAPES
----ITEM: Penny Dreadful
----ITEM: Simaria
----ITEM: NATTI NATASHA
----ITEM: Bruno Covas
----ITEM: UFRJ
----ITEM: Nesk
----ITEM: CINCO MILHOES DA MIIH
----ITEM: Kiraz
----ITEM: SIGA LOUD LZINN NO IG
----ITEM: Nilmar
----ITEM: Danrley
----ITEM: PremierLeagueNaESPN
----ITEM: Obrigadooo
----ITEM: explicaeday
----ITEM: Peralta
----ITEM: Parabeeeens
----ITEM: XamA
--- DF Final ---

          trend    value  ...                     topic_title             topic_type
0    Harry Kane  47250.0  ...                      Enzo Pérez            Futebolista
1    Harry Kane  37900.0  ...  Società Sportiva Calcio Napoli       Clube de futebol
2    Harry Kane    600.0  ...   Campeonato Europeu de Futebol  Competição de futebol
3    Harry Kane    550.0  ...       Aston Villa Football Club       Clube de futebol
4    Harry Kane    400.0  ...                       Dele Alli            Futebolista
..          ...      ...  ...                             ...                    ...
140        XamA  37150.0  ...                           Tribo                Assunto
141        XamA  37100.0  ...                  Gênero musical                Assunto
142        XamA  36900.0  ...             Um Drink no Inferno        Série de filmes
143        XamA  36900.0  ...             From Dusk till Dawn          Filme de 1996
144        XamA    350.0  ...                   Letras.mus.br                   Site

[145 rows x 7 columns]